:root {
  --primary-color: #1767c2;
  --button-bg-color: #e8e3e3;
  --button-bd-color: #e8e3e3;
  --color-white: #fff;
  --color-black: #000;
  --button-bg-color-hover: #e8e3e3;
  --button-bd-color-hover: #e8e3e3;
}
